

html {
  margin: 0;
  width: 100%;
 }
 
 body {
   margin: 0;
   padding: 0;
   font-family: sans-serif;
   max-width: 768px;
   margin: 0 auto;
   height: 100vh;
   width: 100%;
 }
 .login-button {
  height: 100px;
  width: 100%;
  position: fixed;
  bottom: 0;
  background: black;
  max-width: 500px;
  margin: 0 auto;
     cursor: pointer;
 }

 h1 {
  font-weight: 600;
  font-size: 40px;
  color: black;
}


 .login-container { 
  background-color: palegreen;
  width: 100%;
  height: 100vh;
 }
 .button-text {
  position: relative;
  font-size: 25px;
  color: white;
  line-height: 50px;
  left: 90px;
 }
 .google-logo {
  height: 50px;
  float: left;
  background-size: contain;
  background-repeat: no-repeat; 
  margin: 25px 20px;
 }
 #root {
   width: 100%;
   height: 100vh;
   max-width: 500px;
   margin: 0 auto;
   margin-bottom: 50px;
 }
 
 
 
 div.home {
   background: palegreen;
     border-radius: 15px;
     color: white;
     max-height: 100px;
    
 }
 
 
 .login-h1{
   font-size: 82px;
   line-height: 6.1;
   color: black;
 }
 
 .App {
   text-align: center;
 }
 

 
 
 .App-logo {
   animation: App-logo-spin infinite 20s linear;
   height: 80px;
 }
 
 .testimonial-group {
   max-width: 500px;
 }
 
 .testimonial-group > .row {
   overflow-x: auto;
   white-space: nowrap;
 }
 
 
 .main-photo {
   background-position: center center;
   background-size: cover;
   background-repeat: no-repeat;
   height: 100px;
   width: 100px;
   margin: 20px;
   border-radius: 50%;
 }
 
 .main-close {
   position: relative;
   top: 50px;
   left: 10px;
 }
 

 
 .
 
 
 

 
 .text-center {
   height: 130px;
   overflow-y: hidden;
   margin-bottom: 20px;
 }
 
 .App-header {
   background-color: #222;
   height: 150px;
   padding: 20px;
   color: white;
 }
 
 .App-intro {
   font-size: large;
 }
 
 @keyframes App-logo-spin {
   from { transform: rotate(0deg); }
   to { transform: rotate(360deg); }
 }
 
 .style{
   height: 100px;
 }
 
 .google-login {
   line-height:6.5;
   width: 100%;
   min-height: 100px;
   position: fixed;
   bottom: 0;
   max-width: 500px;
 }
 
 
 .bottom-nav {
   height: 50px;
   width: 100%;
   margin-left: 0;
   margin-right: 0;
   position: fixed;
   bottom: 0;
   color: white;
   background-color: black;
   max-width: 500px;
 }
 .col-bottom {
     margin: auto;
   text-align: center;
 }
 
 .col-bottom a {
   color: white;
 }
 
 .col-bottom :hover {
   color: yellow;
 }
 
 .bottom-icon {
   font-size: 35px;
   line-height: 44px;
   color:hotpink;
   margin-right: 10px;
   cursor: pointer;
 }

 .close {
   color: black;
 }